

html{
	font-family: 'Century Gothic','Microsoft YaHei',Verdana;
	min-width: 1024px;
}
body{
	margin:0px;
}

.appbar{
	border:none;
	top:0px;
	left:0px;
	height:55px;
	width:100%;
	background-color: white;
	min-width: 1024px;
}

.appbar-logo img{
	top:9px;
	position: relative;
}

.appbar-logo a{
	margin-left: 5px;
	font-size:1.1em;
	line-height: 3.1;
}

.appbar-logo{
	margin-left: 55px;
	float:left;
}

.appbar-right{
	float:right;
	margin-right: 55px;
}

.appbar-button li{
	color:#787b83;
	width:100%;
	margin-left: 10px;
	margin-right: 10px;
	display:inline
}
.appbar-button li:hover{
	color: red;
	border-bottom:solid;
	border-bottom-color: red;
	padding-bottom:15px;
}

body{
	background-color: lightskyblue;
}

.cover{
	background-image: url(../img/cover.jpg);
	background-size: cover;
}

.cover-content{
	padding:150px 0 250px 130px;
	color:white;
}

.cover-content h1{
	font-size: 60px;
}

.cover-content p{
	font-size:21px;
}

.conver-bigbtn{
	width:330px;
	height:65px;
	text-align: center;
	background-color:rgb(231,79,77);
	font-size:30px;
	line-height: 2;
}
